.App {
    text-align: center;
    width: 100%;
}

.app-nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
}

.nav-content {
    margin-top: -5.8%;
    position: fixed;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    z-index: 1;
}

.todo-input {
    height: 45px;
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: 24px;
    text-align: center;
}

.todo-input:focus {
    outline-color: transparent;
}

.todo {
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
}

.todo li {
    list-style-type: none;
    text-align: left;
    line-height: 1.5;
}

.list-item {
    line-height: 2;
}

.css-del {
    text-decoration: line-through;
}

.error {
    border-bottom: #ff231e 1px solid;
}

.error-text {
    color: #ff4850;
    height: 10px;
}